@import 'variables';
:export {
    primaryColor: $primary-color;
    percentColorIncrease: $percent-increase;
    percentColorDecrease: $percent-decrease;
    cardBorder: $card-border;
    boxShadowCardDashBoard: $card-dashboard-shadow;
}