//background color
$primary-color: #FF5351;
$primary-dark-color: #993331;
$light-background-color: #fff;
$primary-color-hover: #fff3f0;
$grey-background-color: #F5F5F5;
$dark-grey-background-color: #E4E4E7;
$yellow-background-color: #FFEE58;
$dark-yellow-background-color: #ebbf10;
//text color
// $primary-text-color: #3a3a3a;
$primary-text-color: #3a1110;
$primary-light-text-color:#7a6e6e;
$secondary-text-color: #FFCDD2;
$tertiary-text-color: #E57373;
//box shadow
$dropdown-box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.15);
$card-dashboard-shadow: -2px 3px 3px 1px rgba(0, 0, 0, 0.05);
//border
$card-border: 1px solid rgba(0, 0, 0, 0.05);
//------------------------------------------------------------------------//
//chart color
$bank-money: #3a3a3a;
$percent-increase: #0c9f77;
$percent-decrease: #fd4358;