@import '../base/variables';
.edit-title-opportunity-icon:hover {
    color: $primary-color;
    cursor: pointer;
}

.opportunity-name .ant-input {
    font-weight: 500;
    font-size: 1.5em;
    width: 250px;
    height: 35px;
    margin-left: -10px;
}