@import '../base/variables';
.header-layout-background {
    display: flex !important;
    background-color: $light-background-color !important;
    box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.items-dropdown-profile {
    box-shadow: $dropdown-box-shadow !important;
    .ant-menu-item:hover {
        background-color: $primary-color-hover;
    }
}

.title-dropdown-profile {
    width: 147px;
}

.items-dropdown-span {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
}

.dropdown-notify {
    padding: 0 20px 20px 20px !important;
    margin-top: 21px !important;
    width: 325px !important;
    border-radius: 3px !important;
    box-shadow: $dropdown-box-shadow !important;
    background-color: $light-background-color;
}