@import "../base/variables";
.wrapper-background {
    font-family: 'Roboto', sans-serif;
    background-image: url(/wave-haikei9.svg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: right;
    align-items: center;
}

.wrapper-login-form {
    z-index: 100;
    text-align: center;
    margin-right: 100px;
    width: 365px;
    height: 520px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 18px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.3);
}

.header-form {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    h1 {
        margin-top: 40px;
        font-size: 30px;
    }
    span {
        color: black;
        margin-top: -10px;
    }
}

.login-form {
    width: 70%;
}

.login-form-forgot {
    float: right;
    margin-top: 13px !important;
}

.checkbox-login-form-forgot {
    float: left;
}

.login-form-button {
    width: 56%;
    font-size: 16px !important;
    font-weight: 400;
    height: 35px !important;
}

.content-login-form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-login-from {
    padding-bottom: 15px;
}

.wrapper-background a {
    color: $primary-dark-color !important;
    font-weight: 600;
    &:hover {
        color: $primary-color !important;
    }
}

.lottie-bg {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    margin-right: 500px;
}