.opportunities-container {
    @extend .container-page;
}

.my-badge-dot {
    z-index: auto;
    min-width: 6px;
    top: 6px;
    right: -1px;
    width: 6px;
    height: 6px;
    background-color: #ff4d4f;
    border-radius: 100%;
    box-shadow: 0 0 0 1px #fff;
    position: absolute;
    transform: translate(50%, -50%);
    transform-origin: 100% 0;
}

.my-badge {
    position: relative;
}