@import '../base/variables';
.wrapper-droppable-columns {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
}

.wrapper-draggable-card {
    border-radius: 5px;
    margin-top: 10px;
    .ant-card-head {
        border-bottom: none;
        padding: 0 18px;
    }
    .ant-card-body {
        padding: 10px 20px;
    }
}

.wrapper-draggable-pipeline-column {
    user-select: none;
    padding: 10px;
    margin: 7px;
    border-radius: 5px;
    background-color: $grey-background-color;
    position: relative;
    width: 100%;
}

.lock-component {
    position: absolute;
    background-color: rgba(250, 250, 250, 0.65);
    z-index: 25;
    margin: -10px;
    width: 100%;
    height: 100%;
}

.lock {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 16px 0px rgba(44, 41, 41, 0.3);
    border-radius: 70px;
    width: 70px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 270px;
}

.pipeline-column {
    margin-top: 10px;
    width: 300px;
    height: 600px;
}

.pipeline-column-header {
    background-color: $dark-grey-background-color;
    border-radius: 5px;
    height: 40px;
    padding: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#scroll-menu-pipeline {
    overflow-x: auto;
    white-space: nowrap;
}

.scroll-menu-pipeline-2 {
    overflow-y: auto;
    white-space: nowrap;
    &::-webkit-scrollbar {
        width: 9px;
    }
    &::-webkit-scrollbar-track {
        margin-top: 10px;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background: $dark-grey-background-color;
        border-radius: 5px;
        &:hover {
            background: #D4D4D4;
        }
    }
}

.pipeline-ear {
    position: absolute;
    height: 92%;
    z-index: 99;
    display: flex;
    align-items: center;
}

.scroll-right {
    right: 20px;
    @extend .pipeline-ear;
}

.scroll-left {
    margin-left: 1px;
    @extend .pipeline-ear;
}

.arrow {
    display: flex;
    align-items: center;
    background-color: #BDBDBD;
    height: 75px;
    width: 35px;
    opacity: 0.6;
    &:hover {
        background-color: red;
    }
}

.arrow-left {
    @extend .arrow;
    border-radius: 0px 50px 50px 0px;
}

.arrow-right {
    justify-content: flex-end;
    @extend .arrow;
    border-radius: 50px 0px 0px 50px;
}

.button-filter-pipeline {
    @extend .button-ant-custom-style;
}

.button-more-pipeline {
    @extend .button-ant-custom-style;
}

.button-create-task-pipeline {
    @extend .button-ant-custom-style
}

.shadow-column-create {
    margin: 7px;
    padding: 10px;
}

.title-pipeline-column {
    color: $primary-text-color;
    font-weight: 500;
    font-size: 1.17em;
}

.site-description-item-p-label {
    font-weight: 500;
}

.mini-form-create-items .ant-form-item {
    margin: 0 0 12px;
}

.price-total {
    text-align: center;
    margin-top: 10px;
    font-size: 22px;
    color: #43A047;
}

.input-search-pipeline {
    .ant-input {
        height: 35px;
    }
}