.planned-container {
    background-color: rgb(255 255 255);
    border: 1px solid #BDBDBD;
    box-shadow: 8px 10px 8px #d8d1d1;
}

.btn-schedule {
    width: 100%;
    border: none;
    border-top: 1px solid #BDBDBD;
    height: 45px;
}

.planned-title {
    border-bottom: 1px solid #BDBDBD;
    padding: 7px;
    font-size: 16px;
    color: green;
}

.planned-list {
    padding: 7px;
}

.planned-items {
    background-color: #FFF;
    align-items: center;
    height: 60px;
    margin-bottom: 5px;
}