.setting-container {
  margin: 0 20px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.ant-tabs-ink-bar {
  background: none !important;
}

.custom-button {
  border: 1px solid rgba(0, 0, 0, 0.651) !important;
  border-radius: 50px !important;
  color: rgb(27, 27, 27);
}

.tab-header {
  margin: 0 20px;
}
