.wrapper-signup-form {
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.3);
    z-index: 100;
    margin-right: 70px;
    width: 650px;
    height: 580px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 18px;
}

.content-signup-form {
    padding: 25px 60px 15px;
}

.input-phone-number .ant-input {
    border-radius: 0px 10px 10px 0px !important;
}

.signup-form-button {
    width: 30%;
    font-size: 16px !important;
    font-weight: 400;
    height: 35px !important;
}

.lottie-bg {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    margin-right: 500px;
}