.ant-divider-horizontal.ant-divider-with-text-center {
    &::before,
    &::after {
        border-top: 1px solid black !important;
        width: 10% !important;
        min-width: 15%;
    }
    display: flex;
    justify-content: center;
    align-items: center;
}

.ant-divider-inner-text {
    font-size: 13px;
}