.ant-input-password {
    border-radius: 5px !important;
    height: 48px;
}

.ant-input {
    border-radius: 5px !important;
    height: 40px;
}

.my-input-number {
    border-radius: 5px !important;
    height: 40px;
    .ant-input-number-input {
        height: 40px;
    }
    .ant-input-number-handler-wrap {
        border-radius: 5px !important;
    }
}

#expectedRevenue {
    height: 30px;
}