.modal-create .ant-modal-body {
    padding: 12px !important;
}

.ant-modal-content {
    border-radius: 10px;
}

.ant-modal-header {
    border-radius: 10px;
}

.ant-upload-list-picture {
    overflow-y: auto;
    white-space: nowrap;
    height: 165px;
    margin-top: 10px;
}