@import "../variables";
.ant-popover-inner-content {
    padding: 9px 0px !important;
}

.popover-content {
    .ant-col {
        cursor: pointer;
        &:hover {
            background-color: $primary-color-hover;
        }
        height: 40px;
        width: 60px;
        display: flex;
        align-items: center;
    }
    .ant-col>span {
        font-size: 15px;
        width: 100%;
        padding: 3px 10px;
    }
}