.ant-select-arrow svg {
    color: black;
}

.ant-select-selector {
    border-radius: 5px !important;
    height: 40px !important;
    display: flex;
    align-items: center;
}

.ant-input-group-addon {
    border-radius: 5px 0px 0px 5px !important;
}

.ant-select-selection-search-input {
    height: 40px !important;
}