.ant-select-arrow svg {
    color: black;
}

.ant-select-selector {
    border-radius: 10px !important;
    height: 35px !important;
    display: flex;
    align-items: center;
}

.ant-input-group-addon {
    border-radius: 10px 0px 0px 10px !important;
}